.cart {
  align-self: center;
}

.cart__link {
  position: relative;
  display: block;
  width: @mobile-width;
  margin: 0 auto;
  padding-right: @mobile-padding;
  min-height: 79px;
  padding-left: 76px;
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  line-height: 79px;
  text-align: left;
  border: none;
  background: none;

  @media (min-width: @tablet-width) {
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 0;
    line-height: 24px;
    text-align: right;
  }

  &:hover {
    color: fade(@base-black, 60%);
  }

  &:active {
    color: fade(@base-black, 30%);
  }
}

.cart__icon {
  position: absolute;
  top: 31px;
  left: @mobile-padding;
  width: 21px;
  height: 18px;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    margin-right: 30px;
  }

  .cart__link:hover & path {
    fill: @base-green;
  }

  .cart__link:hover & {
    opacity: 1;
  }

  .cart__link:active & {
    opacity: 0.3;
  }
}
