.contacts {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 295px auto 527px;
    grid-template-rows: max-content 1fr max-content max-content;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
    font-size: 43px;
    line-height: 81px;
    vertical-align: middle;
    background-image: url("/img/icons/flag.svg");
    background-repeat: no-repeat;
    background-position: 100% -8px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    margin-top: 67px;
    margin-bottom: 24px;
    margin-left: -111px;
    padding-left: 111px;
    font-size: 53px;
    line-height: 81px;
    background-position: 0 0;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 62px;
  font-size: 14px;
  line-height: 30px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 49px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: 73px 1fr;
  column-gap: 5px;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 74px 1fr;
    padding-right: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 72px 1fr;
    padding-right: 0;
  }
}

.contacts__field-name {
  padding-right: 5px;
}

.contacts__field-value {
  margin: 0;
}

.contacts__email-link {
  font: inherit;
  color: inherit;
  text-decoration-color: @green-underline;
  text-underline-offset: 5px;
}

.contacts__email-link:hover {
  color: @green-underline-hover;
  text-decoration-color: @green-underline-hover;
}

.contacts__email-link:active {
  text-decoration-color: fade(@green-underline-hover, 10%);
}

.contacts__map {
  height: 495px;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin-bottom: 0;
    height: 457px;
  }
}

.contacts__map iframe {
  position: absolute;
  left: 50%;
  width: 90vw;
  height: 454px;
  margin-bottom: 42px;
  text-align: center;
  background-color: @light-grey;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    width: 527px;
    margin-bottom: 0;
    transform: none;
  }
}

.map__pin {
  position: absolute;
  left: 45%;
  margin-top: 141px;

  @media (min-width: @tablet-width) {
    left: 46%;
  }

  @media (min-width: @desktop-width) {
    left: 230px;
    top: 146px;
    margin: 0;
  }
}

.contacts__button {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    margin: 0;
  }
}
