.copyright__link {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;

  & svg {
    fill: @base-green;
  }

  &:hover svg {
    fill: @dark-green-hover;
  }

  &:active svg {
    fill: @dark-green-hover;
    opacity: 0.3;
  }
}

.copyright__link b {
  margin-right: 27px;
}
