.fast-links__list {
  .list-reset;
}

.fast-links__link {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: @base-white;
  text-decoration: none;
}

.fast-links__link--left {
  background-color: @base-green;
}

.fast-links__link--left:hover,
.fast-links__link--left:active {
  background-color: @base-green-hover;
}

.fast-links__link--right {
  background-color: @dark-green;
}

.fast-links__link--right:hover,
.fast-links__link--right:active {
  background-color: @green-underline-hover;
}
