.logo {
  width: 86px;
  height: 35px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
