.order-form__header {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.order-form__promo-text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__group {
  margin-bottom: 19px;
  padding-bottom: 10px;

  &--checkbox {
    margin-bottom: 17px;
  }

  &--user-data {
    margin-bottom: 22px;
  }

  &--contacts {
    margin-bottom: 26px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 51px;
    padding-bottom: 50px;

    &:nth-of-type(even) {
      background-color: @light-grey;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
    padding-bottom: 50px;

    &:last-of-type {
      padding-bottom: 48px;
    }
  }
}

.order-form__footer {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.order-form__attention {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    order: 1;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__button {
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
