.page-main {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}

.page-main > hr {
  display: block;
  width: 100%;
  height: 6px;
  margin-bottom: 30px;
  background-image: url("/img/backgrounds/zigzag-line-mobile.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  border: none;

  @media (min-width: @tablet-width) {
    height: 17px;
    margin-bottom: 52px;
    background-image: url("/img/backgrounds/zigzag-line-tablet.png");
  }

  @media (min-width: @desktop-width) {
    height: 23px;
    margin-bottom: 70px;
    background-image: url("/img/backgrounds/zigzag-line-desktop.png");
  }
}

.page-main__header {
  margin-bottom: 31px;
  padding-top: 73px;
  background-color: @base-background;
  background-image: url("/img/backgrounds/hero-mobile@2x\ 1.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;

  @media (min-width: @tablet-width) {
    position: relative;
    margin-bottom: 42px;
    padding-top: 155px;
    padding-bottom: 10px;
    background-image: url("/img/backgrounds/hero-desktop\ 2.jpg");
    background-position: 50% 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 24px;
      background-image: url("/img/backgrounds/zigzag-fill-tablet.png");
      background-repeat: repeat-x;
      background-position: 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
    padding-bottom: 15px;
    background-image: url("/img/backgrounds/hero-desktop\ 1.jpg");

    &::after {
      content: "";
      height: 34px;
      background-image: url("/img/backgrounds/zigzag-fill-desktop.png");
    }
  }
}

.page-main__title {
  margin: 0 auto;
  width: @mobile-width;
  margin-bottom: 119px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin-bottom: 357px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-main__nav {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-main__top-sales {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.page-main__about {
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
    padding-top: 0;
    padding-right: @desktop-custom-padding;
    padding-left: @desktop-custom-padding;
  }
}

.page-main__reviews {
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
    padding-left: @desktop-custom-padding;
  }
}

.page-main__contacts {
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: @desktop-custom-padding;
  }
}
