.page-body {
  font-family: @base-font;
  font-size: 15px;
  line-height: 30px;
  color: @base-black;
}

.button {
  display: block;
  min-height: 52px;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  color: @dark-grey;
  border: 2px solid @dark-grey;
  background-color: @base-white;
}

.button:hover {
  color: @base-white;
  background-color: @dark-grey;
}

.button:active {
  color: fade(@base-white, 30%);
}
