.reviews {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 457px;
    padding-top: 79px;
    padding-bottom: 47px;
    background-image: url("/img/user/review-2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/user/review-2@2x.png");
      background-size: 350px auto;
    }
  }
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 35px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.reviews__text {
  color: @dark-grey;
  margin-bottom: 30px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
    font-size: 17px;
  }
}

.reviews__author {
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-right: 30px;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.reviews__author-nickname {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.reviews__toggles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 38px;
  border: 1px solid @lines-grey;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 175px;
    margin: 0;
    border: none;
  }
}

.reviews__toggle {
  height: 52px;
  font-size: 0;
  line-height: 0;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--prev {
    background-image: url("/img/icons/huge-arrow-left.svg");
    border-right: 1px solid @lines-grey;
  }

  &--next {
    background-image: url("/img/icons/huge-arrow-left.svg");
    transform: rotate(180deg);
  }

  @media (min-width: @tablet-width) {
    &--prev {
      border: none;
    }
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button {
  @media (min-width: @tablet-width) {
    order: 2;
    width: 175px;
  }
}
