.site-nav__list {
  .list-reset;
}

.site-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.site-nav__link:hover {
  color: fade(@base-black, 60%);
}

.site-nav__link:active {
  color: fade(@base-black, 30%);
}
