.site-search {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.site-search:hover {
  color: fade(@base-black, 60%);
}

.site-search:active {
  color: fade(@base-black, 30%);
}

.site-search__field {
  display: none;
}
