.social {
  .list-reset;
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 41px;
  font-size: 0;
  line-height: 0;
}

.social__link:hover path {
  fill: @dark-green-hover;
}

.social__link:active path {
  fill: @dark-green-hover;
  opacity: 0.3;
}
