.top-sales {
  color: @dark-grey;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.top-sales__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 60px;
    z-index: 1;
    justify-content: flex-start;
  }
}

.top-sales__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: @base-black;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.top-sales__hit {
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 20px;
  color: @base-green;

  @media (min-width: @tablet-width) {
    width: 100px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    width: 175px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.top-sales__item {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 50px;
    padding-right: 376px;
  }

  @media (min-width: @desktop-width) {
    width: 875px;
    margin-left: auto;
    padding-right: 583px;
  }
}

.top-sales__description {
  margin: 0;
  margin-bottom: 28px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
    padding-top: 150px;
  }
}

.top-sales__list {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 90px;
  }
}

.top-sales__data {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @lines-grey;
}

.top-sales__name,
.top-sales__value {
  line-height: 20px;
}

.top-sales__name {
  width: 97px;
  padding-right: 10px;
}

.top-sales__value {
  margin: 0;
}

.top-sales__img {
  width: 260px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 7px;
    right: 0;
    width: 334px;
    height: 404px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    width: 525px;
    height: 626px;
  }
}

.top-sales__price {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 33px;
    font-size: 20px;
  }
}

.top-sales__button {
  width: 100%;
  text-align: center;
}
