// colors
@base-black: #000000;
@base-white: #ffffff;
@base-green: #63d1bb;
@base-green-hover: #59d5bC;
@dark-green: #56c3b2;
@dark-green-hover: #46c1ae;
@green-underline: #62d1ba;
@green-underline-hover: #46c1ae;
@light-grey: #f1f1f1;
@lines-grey: #ececec;
@dark-grey: #444444;
@base-background: #f9f9f9;
@base-red: #ff0000;

// fonts
@base-font: "Open Sans", "Arial", sans-serif;

// viewports
@mobile-width: 320px;
@mobile-width-max: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;

//paddings
@mobile-padding: 30px;
@tablet-padding: 50px;
@desktop-padding: 50px;
@desktop-custom-padding: 225px;
